body{
    background-color:rgba(128 128 128/33%);
    margin:auto;
}

a{
    text-decoration:none;
}

.bar_color{
    background-color:blue;
   
}
#text_color_white{
    color:white;
}
.glyphicon-search{
    color:blue;
}

#blue_login{
    color:blue;
    margin-left:10px;
}
.blue_color{
    color:blue;
}
.glyphicon-shopping-cart{
    color:white;
}
/* nav part ends*/
.area_image{
    /* border:4px solid red; */
    width:100%;
    height:200px;
    margin-top:5%;
}

.image_bg_color{
    background-color:white;
    box-shadow:5px 5px 5px grey;
}
.image_decoration{
    width:150px;
    height:150px;
    background-size:100% 100%;
    margin-top:1%;
    
}

/* carousel area */
#caro_area{
    /* border:3px solid red; */
    width:100%;
    height:300px;
    margin-top:1%;
}

/* .image_decoration1{
    width:100%;
    height:250px;
    background-size:100% 100%;
    background-size:cover;
    margin-top:1%;
} */

/* item list */

#caro_area1{
    /* border:3px solid red; */
    /* background-color:white; */
    width:100%;
    height:300px;
    margin-top:1%;
    box-shadow:5px 5px 5px grey;
}

/* footer section */
#footer_section{
    background-color:rgba(0 0 0/84%);
    height:450px;
   padding-top:1%;
}

.color_yellow{
    color:yellow;
}
